@import url("https://fonts.cdnfonts.com/css/kollektif");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");

/* Style général */
body {
  font-family: "kollektif";
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style-type: none;
}
button,
input[type="button"] {
  cursor: pointer;
}
a {
  text-decoration: none;
}

/* Style header */
header {
  position: absolute;
  top: 0;
  left: 250px;
  height: 310px;
  width: calc(100vw - 250px);
  background-image: url(./assets/paysage-monatgne.jpg);
  background-size: cover; /* Redimensionner l'image pour couvrir tout l'élément */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header h1 {
  position: absolute;
  top: 5px;
  font-size: 75px;
  font-family: "El Messiri", sans-serif;
}
/* Stylebarre de navigation */
nav {
  background-color: #181f54;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  font-size: 12px;
}
/*style titre Etudiant*/
nav h2 {
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 55px;
}
/*style barres*/
nav hr {
  width: 79%;
  margin-bottom: 35px;
}
/*style boutons 1 et 2*/
.boutons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.boutons input {
  width: 35px;
  height: 35px;
  background-color: white;
  color: #181f54;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 22px;
  font-weight: bold;
}
.btn1 {
  filter: brightness(1.75);
}
.btn2 {
  filter: brightness(0.75);
}
.etudiant-infos {
  margin-bottom: 30px;
}
.valise,
.carte {
  position: fixed;
  left: 210px;
  top: 480px;
  width: 260px;
  z-index: 2;
}
.info-bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.info-bloc a {
  text-decoration: none;
  color: white;
}
.groupe-pere {
  position: relative;
  margin-bottom: 31px;
}
.groupe {
  position: absolute;
  right: 0;
}
.btn-ville {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 44px;
  border-radius: 22px;
  background-color: white;
  color: #181f54;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
}
/*partie home recherche*/
.partie-home,
.ville-info {
  margin-left: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: #181f54;
}
.recherche-bloc,
.recherche-bloc form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.recherche-bloc {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  border: solid 1px grey;
  width: 950px;
  position: absolute;
  top: -65px;
  height: 300px;
}
.partie-home h2 {
  font-size: 33px;
}
.recherche-bloc form {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
}
.part,
.ajout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  width: 100%;
}

.part div,
.ajout-groupe div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 4px;
}
.recherche-bloc input {
  border: 2px solid #181f54;
  border-radius: 5px;
  width: 190px;
  height: 30px;
}
.recherche-bloc button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 39px;
  border-radius: 22px;
  background-color: #181f54;
  color: white;
  border: none;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  margin-top: 15px;
}
/*resultats de la recherche*/
.resultat {
  margin-top: 240px;
  width: 100%;
  height: 350px;
}
.affichage {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*ville resultat*/
.affichage-ville {
  width: 950px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ville {
  margin: 15px;
}
.ville,
.ecriture,
.icones {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ecriture {
  flex-direction: column;
}
.ecriture h3,
.ecriture h5 {
  margin: 0;
}
.ecriture a {
  color: #181f54;
}
.ecriture a:hover {
  color: white;
  text-shadow: 0 0 4px #181f54;
}
.ecriture hr {
  width: 100%;
  background-color: #181f54;
  margin: 3px;
}
.icones img {
  width: 20px;
  margin: 0 4px 0 4px;
  cursor: pointer;
}
.icones {
  margin-left: 3px;
}
/*pop-up*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 4;
  padding: 280px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  border: 1px solid #888;
  width: 70%;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family: "El Messiri";
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* Modal Header */
.modal-header {
  background-color: red;
  color: white;
  width: 100%;
  height: 10%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.modal-header h2 {
  margin-left: 5px;
  font-size: 20px;
}
/* Modal Body */
.modal-body {
  background-color: white;
  color: rgb(185, 14, 14);
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}
#btndonne {
  list-style-type: none;
  width: 70px;
  height: 25px;
  border: 2px solid red;
  color: black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 5px;
}
#btndonne:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

#tbuser {
  color: black;
  border: 2px solid red;
  height: 25px;
  border-radius: 4px;
}
#output1 {
  display: flex;
  margin-left: 5px;
  font-size: 18px;
}
/* Modal Footer */
.modal-footer {
  background-color: red;
  color: white;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-footer img {
  height: 28px;
  margin-left: 5px;
  animation: beat 0.3s infinite alternate;
}
@keyframes beat {
  to {
    transform: scale(1.2);
  }
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all ease-in-out 0.3s;
  display: block;
  position: static;
  margin-right: 5px;
  margin-top: -5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
}

/*ville.php*/
.image {
  width: fit-content;
  height: fit-content;
}

/* Style ajout.php */
.ajout-ville {
  margin-left: 280px;
}
.ajout-ville input,
.ajout-ville select {
  width: 185px;
  height: 27px;
  border: 2px solid #181f54;
  border-radius: 11px;
}
.btnplus {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  color: #181f54;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #181f54;
}
.btnplus span {
  font-weight: 400;
  font-size: 20px;
}
.btn-ajouter,
.ajout-ville button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 30px;
  border-radius: 22px;
  background-color: white;
  color: #181f54;
  font-size: 17px;
  font-weight: bold;
  margin-left: 5px;
}
.ajout-ville button[type="submit"] {
  background-color: #181f54;
  color: white;
}
.ajout-ville form,
.ajout-groupe {
  display: flex;
  align-items: center;
}
.ajout-ville form {
  justify-content: center;
  flex-direction: column;
}
.aligner {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
}
.ajout-groupe {
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.ajout-ville select {
  height: auto;
}
